/**
 * style.css
 *
 * Fretboard Chart
 *
 * Nelson Reitz
 * http://github.com/nelsonreitz/fretboard
 */

/** Table of content
 * - General
 * - Header
 * - Fretboard
 * - Notes
 * - Bottom
 * - Options
 * - Footer
 * - Media queries
 */

/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    color: #444444;
}

p {
    margin: 0;
}

a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

.header {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 64px;
    padding: 52px 32px 16px 32px;
}

.site-title {
    text-transform: uppercase;
    margin: 0 0 4px 0;
    font-size: 32px;
    line-height: 32px;
}

.site-title a:hover {
    text-decoration: none;
}

.subtitle {
    margin: 0;
    color: #979797;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

/* Fretboard */

#fretboard {
    text-align: center;
    width: 100%;
    border-bottom:1px solid #d4d4d4;
    border-top:1px solid #d4d4d4;
    height: 326px;
    background-color: #ffffff;
    padding: 32px 32px 64px 32px;
}

#fretboard table {
    width: 100%;
    table-layout: fixed;
}

#fretboard td#open_header {
    width: 40px;
}

#fretboard td#gap_header {
    width: 16px;
}

#fretboard .fretnumbers td {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
}

#fretboard tbody td {
    border-top: 1px solid #979797;
    border-right: 1px solid #979797;
    height: 32px;
    position: relative;
}

#fretboard tbody tr td:first-of-type {
    border: none;
}

#fretboard .fret0 {
    border-right: 2px solid black;
    border-left: none;
}

#fretboard tbody tr:first-of-type td {
    border-top: none;
    height: 16px;
}

#fretboard tbody tr:last-of-type td {
    border-bottom: none;
    height: 16px;
}

.single_inlay, .double_inlay {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ececec;
    margin-left: auto;
    margin-right: auto;
}

.double_inlay {
    position: absolute;
    top: -5px;
    left: 25px;
}

/* Notes */

.open_note {
    position: absolute;
    top: -8px;
    font-size: 16px;
    line-height: 16px;
}

.note, .halfstep {
    position: absolute;
    top: -11px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    color: black;
}

.halfstep {
    color: #444;
    font-size: 12px;
    padding-top: 3px;
}

.note.A {
    background-color: #FF8C94;
}

.note.B {
    background-color: #DCEDC2;
}

.note.C {
    background-color: #FFAAA6;
}

.note.D {
    background-color: #A8E6CE;
}

.note.E {
    background-color: #FFD3B5;
}

.note.F {
    background-color: #b0d2f4;
}

.note.G {
    background-color: #c1abea;
}

.halfstep.Ab {
    background-color: #ffe5e7;
}

.halfstep.Bb {
    background-color: #f2fce3;
}

.halfstep.Db {
    background-color: #e5fff4;
}

.halfstep.Eb {
    background-color: #fff1e8;
}

.halfstep.Gb {
    background-color: #ece2ff;
}

/* Options */

.options {
    width: 100%;
    height: 136px;
    background-color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
    padding: 32px;
}

.option {
    display: inline-block;
}

.button, input.button {
    background-color: #ffffff;
    height: 48px;
    border: 1px solid #b7b7b7;
    border-radius: 2px;
    margin-right: 8px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    float: left;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
    border-color: #444444;
}

.option.tuning input[clicked="true"] {
    background-color: #979797;
    box-shadow: none;
    color: white;
    font-weight: 700;
    border-color: #444444;
}

.option.tuning {
}

.option.toggle_halfsteps {
}

.option.toggle_halfsteps {
    float: right;
}

.tuning label {
}

.toggle_halfsteps label {
}

 /* Haflsteps toggle */ 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: -2px;
  bottom: -2px;
  background-color: white;
  border: 2px solid #b7b7b7;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: lightgrey;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
  border: 2px solid #b7b7b7;

}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */

.footer {
    width: 100%;
    padding: 32px;
    color: #b7b7b7;
    font-size: 12px;
}

.footer a {
    font-weight: 700;
    color: #b7b7b7;
}
